


.share-strip{
	overflow: hidden;

	svg, img{
		@include col(3);
		display: block;
		float: left;
		padding-left: 6px;
	}
}


// .li-group:hover, .li-playlist:hover, .library-nav li:hover{
// 	background: nth($grey, 5);
// }



svg:hover, img:hover{
	opacity: .8;
}

//Borowed from CSS-Tricks
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="password"]{
	line-height: 16px;
}

/*--------------------------------------End Objects / Start Main------------------------------------*/

.no-select{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

img, .section-header, aside.app, .li-header, .li-group, .footer{
	@extend .no-select;
}


// p {
//     -webkit-user-select: text;
//     -khtml-user-select: text;
//     -moz-user-select: text;
//     -o-user-select: text;
//     user-select: text;
// }


html{
	background: $white;
}

//body#app
#app{
	background: $white;
	overflow: hidden;
	letter-spacing: 1px;/*give gothic font some space*/
}

aside.app{
	@include col(3);
	height: 100vh;
	float: left;
	border-right: 1px solid nth($grey, 4);
	overflow: hidden;
	// background: $black; /*experimenting with dark bg*/

	.video-size-ctrl{
		background: $black;
		@include col(3);
		//margin-left: 16.6666667%;
		position: fixed;
		bottom: 72px;
		left: 0;
		z-index:1002;
		height: 33px;
		text-align: right;
		border-bottom: 1px solid nth($grey, 1);

		svg, img{
			height: 27px;
			width: 27px;
			margin-left: 3px;
			cursor: pointer;
		}

		svg:first-child, img:first-child{
			width: 18px;
		}

		svg:last-child, img:last-child{
			width: 36px;
			margin-left: 0;
		}
	}
}

#collectionCount{
	font-size: .8em;
}

#video{
	// background: $black;//remove during tests. Placeholder bg color so video can be commented out
	@include col(3);
	position: fixed;
	bottom: 72px;
	left: 0;
	z-index:1000;
	height: 33px;
	border: none;
}

.loading{
	background: url('../images/icons/loading.GIF') no-repeat center;
	position: absolute;
	@include col(9);
	height: 60px;
	top: 45%;
	right: 0;
	display: none;
	opacity: .6;

	h2{
		margin-top: 63px;
		font-size: 1.5em;
		text-align: center;

	}
}







/*=====================================*/
/*Sidebar Settings=====================*/
/*=====================================*/
.library-nav{
	line-height: 36px;
	font-size: .8em;

	ul{
		margin-bottom: 0;

		li{
			padding: 0 6%;

			a{
				color: nth($grey, 2);
			}
		}
	}
}

#returnToSearch{
	margin-top: 27px;
	vertical-align: top;
	line-height: 18px;
	overflow: hidden;
	cursor: pointer;

	img{
		height: 18px;
		float: right;
	}
}

#returnToSearch:hover{
	background: none;
}


.settings-menu{
	margin-top: 33px;
}

.library-menu{
	margin-top: 18px;
	@include col(12);
}

#collectionCount{
	float: right;
}






/*=====================================*/
/*Sidebar playlist=====================*/
/*=====================================*/
.playlist-nav{
	font-size: .8em;
	margin-top: 9px;

	h3{
		display: inline;
		line-height: 36px;
		padding: 0 6%;
	}

	ul{
		li{
			line-height: 24px;
			cursor: pointer;
			padding: 0 6%;
			position: relative;

			a{
				color: nth($grey, 2);
				@include col(11);
			}

		}
	}
}

.playlist-menu{
	@include col(1);
	float: right;

	svg, img{
		height: 12px;
		vertical-align: middle;
	}
}

.add-icon{
	float: right;
}

.playlist-scroll-container::-webkit-scrollbar {
    display: none;
}

.playlist-scroll-container{
	height: 47vh;
	overflow: scroll;
}






/*=====================================*/
/*Base popout & Playlist popout========*/
/*=====================================*/
.popout{
	position: absolute;
	right: 14.5%;
	top: 0px;
}

.playlist-dropdown{
	background: #fff;
	display: none;//added to help jquery show/hide on load
}

li.playlist-dropdown:hover{
	background: #fff;
}

.playlist-popout{
	padding: 6% 0;

	p{
		font-size: 1em;
		margin: 0;
		overflow: hidden;
	}

	.share-strip{
		margin-bottom: 9px;
	}

	.bottom-inner{
		border-top: 1px solid nth($grey, 4);
		padding-top: 12px;
		cursor: pointer;
	}

	svg, img{
		cursor: pointer;
		height: 36px;
		width: 36px;
	}

	.trash-icon{
		height: 18px;
		width: 18px;
		float: right;
	}
}













/*=====================================*/
/*Main Content container===============*/
/*=====================================*/
section.app{
	@include col(9);
	float: left;
	height: 100%;
}

.section-header{
	height: 72px; //120
	border-bottom: 1px solid nth($grey, 4);
}

.search{
	overflow: hidden;
	@include vertical-align;
	position: relative;

	input{
		float: left;
		margin: 0;
		// padding: 0 6%;
		height: 72px;//39
	}

	input[type="text"]{
		@include col(11);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		// border-right: none;
		border: none;
		font-size: 2.7em;
		font-weight: 100;
		background: transparent;
		padding-left: 3%;
		outline: none;
	}

	input[type="submit"]{
		@include col(1);
		background: transparent;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 1px solid nth($grey, 4);
	}

	input[type="submit"]:hover{
		opacity: .8;
	}

	input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
	    color: nth($grey, 4);
	}
	input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color: nth($grey, 4);
	}
	input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: nth($grey, 4);
	}
	input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: nth($grey, 4);
	}
}

#search-icon{
	position: absolute;
	right: 3.15%;
	top: 39%;
	height: 18px;
}

.main-container{
	ul{
		margin-bottom: 0;
		position: relative; /*required for submenu overflow visibility*/

		li{
			line-height: 48px;
			padding: 0 2%;
			overflow: hidden;

			svg,img,  .add-icon, .play-icon img{
				height: 12px;
				vertical-align: middle;
			}

			.add-icon{
				width: 12px;
				// margin-right: 31%;

			}

			.play-icon{
				img{
					width: 10px;
					margin-left: 23%;
				}
			}

			.createNewPlaylistLink, .addToPlaylistTitle{
				font-size: 1.5em;
				line-height: 9px;

				img{
					float: left;
					margin: 0px 6px 0 0;
					height: 9px;
				}
			}
		}
	}
}

.addToPlaylistTitle{
	padding-bottom: 18px;

	img.more-arrow-down{
		width: 9px;
	}
}

// .playIconImg{
// 	opacity: .1;
// }

.scroll-container{
	height: 74vh;
	min-height: 500px;
	overflow: scroll;
}

/*Column widths & floats*/

.li-col1, .li-col2, .li-col3, .li-col4, .li-col5, .li-col6, .li-col7{
	max-height: 48px; //matches li line height
	@extend .truncate;
}

.li-col1{
	float: left;
}

.li-col1, .li-col7{
	width: 6%;
	display: inline-block;
}

.li-col2{
	display: inline-block;
	@include col(4);
	float: left;
	padding-right: 2%;
	margin-right: 2%;
}

.li-col3, .li-col4{
	@include col(2);
	display: inline-block;
	float: left;
}

.li-col3{
	width: 200px;//Testing float fix where content is empty
}

.li-col3:before{
	content: " ";
	width: 200px;
}

.li-col6, .li-col5{
	@include col(1);
	float: right;
	display: inline-block;
}

.li-col6{
	min-width: 8.33333333%;
}

.li-col7{
	float: right;
	margin-top: 18px;

	svg, img{
		height: 12px;
		width: 12px;
		margin-right: 30%;
	}
}

.li-header{
	font-weight: 700;
	@include col(12);
	border-bottom: 1px solid nth($grey, 4);
	font-size: .8em;

	.li-col1{
		// height: 21px;
		line-height: 18px;
		font-size: .6em;
		padding-top: 19px;
		color: nth($grey, 3);

		svg, img{
			display: block;
			margin-left: 24%;
		}
	}

	.li-col7{
		text-align: right;
		margin-top: 0;
	}

	.viewSongs, .viewArtists, .viewAlbums, .viewGenres{
		cursor: pointer;
	}
}

.li-group{
	color: nth($grey, 2);
	font-size: .8em;
	cursor: pointer;
}

li.li-group:nth-child(even){
	background: nth($grey, 6);
}













/*=====================================*/
/*li dropdown==========================*/
/*=====================================*/

li.li-group.dropdown{
	background: #fff;
	padding: 18px 18px 18px 9px;
	overflow: hidden;
	min-height: 240px;
	display: none;//Added to experiment with jquery show/hide on dropdowns

	.youtube-img{//youtube thumbnail
		width: 100%;
		height: 100%;
	}

	.li-desc{
		line-height: 18px;
		margin-left: 9px;
		display: inline-block;
		@include col(5);
	}

	.li-col1{
		@include col(2);
		max-height: 100%;
	}

}

/*Right side menu in dropdown*/
ul.dropdown-main-menu{
	@include col(2);
	float: right;

	li{
		font-size: .7em;
		line-height: 27px;

		.addedToPlaylistCheck{
			height: 12px !important;//overrides main li specificity. Used in jquery affordance
		}
	}

	li.li-share{
		margin: 9px 0 0 24px;
		font-size: .6em;

		.share-strip{
			img.svg:first-child{
				padding-left: 0;
				width: 21px;
			}
		}

		svg, img{
			height: 21px;
			margin-right: 6px;
		}
	}

	li.li-buy{
		svg, img{
			height: 36px;
		}
		margin:9px 0 0 18px;
	}
}



/*=====================================*/
/*dropdown-main-menu-popouts===========*/
/*=====================================*/
ul.dropdown-main-menu{
	li{/*do not write styles here. Write them in the above ul.dropdown-main-menu li*/
		ul{
			width: 130%;
			position: absolute;
			right: 105%;
			height: 200px;
			overflow: auto;
			padding: 6% 0 0 6%;
			border-left: 1px solid nth($grey, 6);

			li{/*submenu level*/
				form{
					margin-bottom: 9px;
					margin-top: 0;
					padding-right: 12%;/*mimicks popout padding*/

					input{
						height: 24px;
						font-size: 1.5em;
						margin: 0;
						margin-bottom: 3px;
					}

					input[type="submit"]{
						line-height: 0px;
						background: $green;
						color: $white;
					}
				}
			}
		}
	}
}

ul.dropdown-main-menu li ul::-webkit-scrollbar {
    display: none;
}

.popout{
	font-size: .8em;
}

.add-to-playlist-menu{
	background: none;/*overrides popout styles*/
	box-shadow: none;
	padding-right: 0;/*orig: 6% Removed to allow right arrow to hit edge*/

	svg, img{/*more arrow right*/
		float: right;
	}

	p{
		margin-bottom: 15px;
	}

	p:last-child{
		margin-bottom: 3px;
	}

	li.playlist-menu-sub-list{
		font-size: 1.2em;
		line-height: 21px;
	}

	li.playlist-menu-sub-list:hover{
		background: nth($grey, 6);
	}
}

.add-to-playlist-menu-trigger{
	img{
		height: 9px !important; //overrides the add to playlist link icon size set by main-container li
	}
}

 .addedToPlaylistCheck{
 	display: none;
 }


.playlist-menu-header{
	border-bottom: 1px solid nth($grey, 6);
	// margin-bottom: 3px;
}












/*==================================*/
/*Account Settings Page*/
/*==================================*/

.info-wrapper{
	overflow: hidden;
	padding: 6% 6% 12%;
	position: relative;
	min-height: 600px;


	input[type="text"], input[type="password"], input[type="submit"], select, button{
		height: 36px;
	}

	input[type="submit"], button{
		@include col(12);
		height: 45px;
		background: $blue;
		color: $white;
		line-height: 16px;
		border: none;
	}

	label{
		display: block;
		font-size: 1.2em;
		color: nth($grey, 2);
	}

	.second-form{
		margin-top: 36px;
	}
}

.info-col1, .info-col2, .info-col3{
	@include col(4);
	height: 100%;
	float: left;

	p{
		border-bottom: 1px solid nth($grey, 5);
	}
}

.info-col1{
	overflow: hidden;

	select{
		background: #fff;
		@include col(12);
		padding: 5px;
		font-size: 16px;
		line-height: 1;
		border: 0;
		border-radius: 2px;
		height: 36px;
		-webkit-appearance: none;
		border: 1px solid nth($grey, 3);
		margin-bottom: 9px;
	}
}

#infoId{
	float: right;
	margin-top: 9px;
}

.info-col3{
	padding-left: 6%;


	label[for="emailUpdatesInfo"], label[for="themeDark"], input[type="checkbox"]{
		display: inline;
		vertical-align: middle;
	}
}

#logoutLink{
	margin-top: 36px;
}

#deleteAccount{
	background: $red;
}


.info-col2{
	padding-left: 6%;

	ul{
		li{
			overflow: hidden;
			border-top: 1px solid nth($grey, 3);
			line-height: 36px;

			img{
				height: 12px;
				float: right;
				margin-top: 10px;
			}
		}
	}
}










/*==================================*/
/*Modal windows*/
/*==================================*/
#deleteAcctModal, #restoreAcctModal, #nameDeviceModal{
	display: none;
}

.modal-container{
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

.modal{
	@include col(3);
	@include col_ctr(3);
	position: relative;
	background: $white;
	border-radius: 2px;
	margin-top: 13%;
	padding: 1%;
	text-align: center;

	h2{
		font-size: 2.4em;
		margin-bottom: 9px;
	}

	p{
		font-size: 1.2em;
	}
}

.modalCloseIcon{
	position: absolute;
	bottom: 102%;
	left: 102%;
}

#deleteAccountButton, #newAccountButton, #restoreAccountButton{
	@include col(8);
	@include col_ctr(8);
	height: 45px;
	color: $white;
	background: $red;
	border: none;
}

#restoreAccountButton{
	background: $green;
}

#restoreAcctModal{
	.modal{
		text-align: left;
	}
}

#devicePrompt{
	p{
		text-align: left;
		margin-top: 18px;
		margin-bottom: 0;
	}
}





#appLoading{
	h3{
		color: $white;
		margin-top: 20%;
		text-align: center;
	}
}



// #banner-ads{
// 	position: absolute;
// 	width: 800px;
// 	height: 75px;
// 	bottom: 67px;
// 	right: 0;
// 	background: $red;
// }


// .adsbygoogle{
// 	background: nth($grey, 4);
// 	@include col(12);
// 	position: relative;
// 	z-index: 300;
// 	bottom: 67px;
// }





/*=====================================*/
/*Footer Container=====================*/
/*=====================================*/
.footer{
	background: $black;
	height: 72px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
	padding: 0 2%;
	color: $white;
	// overflow: hidden;

	// -webkit-box-shadow: 0px -60px 27px -7px rgba(235,235,235,.8);//$white
	//    -moz-box-shadow: 0px -60px 27px -7px rgba(235,235,235,.8);
	// 		box-shadow: 0px -60px 27px -7px rgba(235,235,235,.8);
}


.info{
	@include col(3);
	float: left;
	overflow: hidden;
	// border-right: 1px solid nth($grey, 1);

	ul{
		float: left;
		margin: 9px 0 0 2%;

		li{
			font-size: .8em;
			overflow: hidden;
			font-size: .5em;
		}
	}

	svg, img{
		display: block;
		float: left;
		height: 36px;
		width: 27px;
		margin: 18px 18px 0 0;
	}
}

.transport-ctrl{
	@include col(1);
	float: left;
	overflow: hidden;
	// height: 18px;
	height: 100%;
	// border-right: 1px solid nth($grey, 1);

	svg, img{
		@include col(4);
		float: left;
		cursor: pointer;
		@include vertical-align;
	}

	.play{
		max-height: 12px;
		max-width: 12px;
		margin: 0 6px 0 9px;
	}

	.prev, .next{
		max-height: 9px;
		margin-top: 1px;
	}
}

.seek-ctrl{
	@include col(3);
	float: left;
	@include vertical-align;
	height: 36px;
	overflow: hidden;
	position: relative;

	p{
		font-size: 1.2em;
		display: inline;
		float: right;
		line-height: 0px; //important for lining up seek-line
	}

	#seek-bar{
		@include col(10);
	}
}



.seek-line, .seek-fill, #seek-bar, .seek-buffered{
	@include col(10);
	// @include col-ctr(10);
	height: 0px;
	border-bottom: 1px solid nth($grey, 1);
	// @include vertical-align;
	margin-top:18px;
}



.seek-fill{
	width: 0;
	border-bottom: 1px solid $red;
	position: absolute;
}

.seek-buffered{
	width: 0;
	border-bottom: 1px solid nth($grey, 2);
	position: absolute;
}

#seek-dot{
	width: 12px;
	height: 12px;
	// width: 0px;
	// height: 0px;
	background: $white;
	border-radius: 50%;
	position: absolute;
	top: 13px;
	z-index: 10;
	opacity: .9;
	cursor: pointer;
	// border: 1px solid nth($grey, 2);
}

#seek-dot:active{
	width: 18px;
	height: 18px;
	top: 10px;
}


.playmode-ctrl{
	@include col(1);
	float: left;
	height: 100%;
	padding-left: 2%;

	img{
		@include vertical-align;
		margin-left: 10%;
		cursor: pointer;
		height: 12px;
	}
}

.volume-ctrl{
	@include col(1);
	float: left;
	height: 100%;
	// padding-right: 10%;
	// border-left: 1px solid nth($grey, 1);
	// border-right: 1px solid nth($grey, 1);

	.vol-icon{
		height: 15px;
		cursor: pointer;
		float: left;
		// margin-left: 25%;
		@include vertical-align;
	}

	input{
		@include col(9);
		@include vertical-align;
		display: inline-block;
		margin: 0;
		float: right;
	}

	input[type='range'] {
	    -webkit-appearance: none;
	    border: 0;
	    background-color: nth($grey, 2);
	    height: 1px;
	    padding: 0;
	}

	input[type='range']::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    width: 6px;
	    height: 6px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: $white;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}



}

.playing-share-ctrl{
	@include col(2);
	float: left;
	height: 100%;
	padding: 0 4%;
	// border-right: 1px solid nth($grey, 1);

	svg, img{
		height: 18px;
		margin-top: 25%;
	}
}

.playon-ctrl{
	@include col(1);
	float: right;
	@include vertical-align;

	h3{
		font-size: 1.2em;
	}

	select#play-on{
		@include col(11);
		background: transparent;
		background: url(../images/icons/down-arrow-wht.svg) no-repeat 90%;
		border-radius: 2px;
		-webkit-appearance: none;
		-moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
		border: 1px solid nth($grey, 2);
		color: nth($grey, 3);
		font-size: .9em;
		padding: 3px;
		outline: none;
		height: 27px;
	}
}

















/*Dark Theme Overrides==============================================*/
.dark-fonts{
	color: #949494 !important;/*nth($grey, 3)*/
}

.dark-border-bottom{
	border-bottom: 1px solid #494F4F !important;/*nth($grey, 3)*/
}

.dark-border-right{
	border-right: 1px solid #494F4F !important;/*nth($grey, 3)*/
}

.dark-border-left{
	border-left: 1px solid #494F4F !important;/*nth($grey, 3)*/
}

.dark-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color: #494F4F !important;
}
.dark-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #494F4F !important;
}
.dark-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #494F4F !important;
}
.dark-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #494F4F !important;
}

.dark-input-bg{
	background: #494F4F !important;
	border: none !important;
}



/* --END-- Dark Theme Overrides======================================*/

















