/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 3/22/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/

/*


----------------SASS------------------*/

// $white: #ebebeb;
// $grey: #272a2a,
// #494F4F,
// #949494,
// #d6d6d6;
// $black: #0f1010;
// $blue: #3b578a;
// $red: #cf2425;
// $yellow: #e5a539;





/*--------------------------------------End Objects / Start Main------------------------------------*/

//body#app
#app{
	background: $white;
	overflow: hidden;
}

aside.app{
	@include col(3);
	height: 100vh;
	float: left;
	border-right: 1px solid nth($grey, 4);

	iframe{
		background: nth($grey, 2);//remove during tests. Placeholder bg color so video can be commented out
		@include col(3);
		position: fixed;
		bottom: 69px;
		left: 0;
	}
}

.aside-header{
	height: 120px;

	.logo{
		@include col(12);
		@include col_ctr(12);
		margin: 33px 0;
	}
}



section.app{
	@include col(9);
	float: left;
}

.section-header{
	height: 120px;
	border-bottom: 1px solid nth($grey, 4);
}

.search{
	overflow: hidden;
	@include col(8);
	@include col_ctr(8);
	@include vertical-align;

	input{
		float: left;
		margin: 0;
	}

	input[type="text"]{
		@include col(10);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		// border-right: none;
		border: none;
	}

	input[type="submit"]{
		@include col(2);
		background: $red;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		// border: 1px solid nth($grey, 3);
		border-left: none;
	}
}








/*Footer Container========================*/
.footer{
	background: $black;
	height: 72px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	color: $white;
	padding: 0 2%;
}


.info{
	@include col(3);
	float: left;
	overflow: hidden;

	ul{
		float: left;
		margin: 9px 0 0 2%;

		li{
			font-size: .8em;
		}
	}

	img{
		display: block;
		float: left;
		height: 63px;
		border-radius: 36px;
		margin-top: 4px;
	}
}

.transport-ctrl{
	@include col(1);
	float: left;
	overflow: hidden;
	@include vertical-align;

	svg{
		@include col(4);
		float: left;
		cursor: pointer;
	}

	.play{
		height: 18px;
	}

	.prev, .next{
		height: 12px;
		margin-top: 3px;
	}
}

.seek-ctrl{
	@include col(3);
	float: left;
	@include vertical-align;
	height: 18px;
	overflow: hidden;
	position: relative;

	p{
		font-size: 1.2em;
		display: inline;
		float: right;
		line-height: 0px; //important for lining up seek-line
	}
}

.seek-line{
	@include col(10);
	height: 0px;
	border-bottom: 1px solid nth($grey, 2);
	@include vertical-align;
	margin-top: 9px;
}

#seek_dot{
	width: 12px;
	height: 12px;
	background: $red;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	z-index: 10;
	opacity: .7;
	cursor: pointer;
}

.volume-ctrl{
	@include col(1);
	float: left;
	height: 100%;

	.vol-icon{
		fill: $white;
		height: 18px;
		@include vertical-align;
		cursor: pointer;
	}
}

.playing-share-ctrl{
	@include col(1);
	float: left;
	@include vertical-align;
}

/*Move this to global after built*/
.share-strip{
	overflow: hidden;

	svg{
		@include col(3);
		display: block;
		float: left;
		padding-left: 6px;
	}

}

.playon-ctrl{
	@include col(1);
	float: left;
	@include vertical-align;

	h3{
		font-size: 1.2em;
	}

	select{
		@include col(11);
		background: transparent;
		background: url(../images/icons/down-arrow-wht.png) no-repeat right;
		border-radius: 2px;
		-webkit-appearance: none;
		border: 1px solid $white;
		color: $white;
		font-size: .9em;
		padding: 3px;
		outline: none;
	}
}


.profile-display{
	@include col(2);
	float: left;
	overflow: hidden;
	height: 100%;
	padding: 18px 0 0 18px;


	h3{
		font-size: 1.2em;
		@include col(9);
		display: block;
		line-height: 18px;
	}

	p{
		font-size: 1.5em;
		line-height: 18px;
		@include col(9);
		display: inline;
	}

	.settings-icon{
		float: right;
		@include col(2);
		@include vertical-align;
		cursor: pointer;
	}
}























