/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 3/22/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/

/*


----------------SASS------------------*/

// $white: #ebebeb;
// $grey: #272a2a,
// #494F4F,
// #949494,
// #d6d6d6;
// $black: #0f1010;
// $blue: #3b578a;
// $red: #cf2425;
// $yellow: #e5a539;


/*title attrib hover effect-- work on this later*/
a[title]:hover:after{
	content: attr(title);
	padding: 4px 8px;
	color: $black;
	position: absolute;
	top: 0;
	right: 0;
	white-space: nowrap;
	z-index: 200px;
	border-radius:2px;
	background: $white;
}

// .adsbygoogle{
// 	background: nth($grey, 4);
// 	@include col(12);
// 	position: relative;
// 	z-index: 300;
// 	bottom: 67px;
// }

/*--------------------------------------End Objects / Start Main------------------------------------*/

//body#app
#app{
	background: $white;
	overflow: hidden;
}

aside.app{
	@include col(3);
	height: 100vh;
	float: left;
	border-right: 1px solid nth($grey, 4);
	overflow: hidden;

	iframe{
		background: $black;//remove during tests. Placeholder bg color so video can be commented out
		@include col(3);
		position: fixed;
		bottom: 72px;
		left: 0;
		z-index:10;
		height: 27px;
		border: none;
	}

	.video-size-ctrl{
		background: $black;
		opacity: .9;
		@include col(3);
		//margin-left: 16.6666667%;
		position: fixed;
		bottom: 72px;
		left: 0;
		z-index:11;
		height: 27px;
		text-align: right;

		svg{
			height: 27px;
			width: 27px;
			margin-left: 3px;
			cursor: pointer;
		}

		svg:first-child{
			width: 18px;
		}
	}
}

.aside-header{
	height: 120px;

	.logo{
		@include col(12);
		@include col_ctr(12);
		margin: 33px 0;
	}
}

.li-group:hover, .playlist-nav li:hover, .library-nav li:hover{
	background: nth($grey, 5);
}

.library-nav{
	line-height: 36px;
	font-size: .8em;

	ul{
		li{
			padding: 0 6%;

			a{
				color: nth($grey, 2);
			}
		}
	}
}

.playlist-nav{
	font-size: .8em;

	h3{
		display: inline;
		line-height: 36px;
		padding: 0 6%;
	}

	ul{
		li{
			line-height: 27px;
			cursor: pointer;
			padding: 0 6%;
			position: relative;

			a{
				color: nth($grey, 2);
				@include col(11);
			}

		}
	}
}

.playlist-menu{
	@include col(1);
	float: right;

	svg{
		height: 12px;
		vertical-align: middle;
	}
}

.add-icon{
	height: 12px;
	float: right;
	@include col(1);
	vertical-align: middle;
	margin: 0 6% 0 0;
}

.playlist-scroll-container::-webkit-scrollbar {
    display: none;
}

.playlist-scroll-container{
	height: 65.25vh;
	overflow: scroll;

-webkit-box-shadow: inset 0px -31px 24px -7px $white;
	   -moz-box-shadow: inset 0px -31px 24px -7px $white;
			box-shadow: inset 0px -31px 24px -7px $white;
}



.popout{
	width: 41%;
	height: 111px;
	background: #fff;
	position: absolute;
	right: 14.5%;
	top: 0px;
	border-radius: 2px;
	padding: 6%;
	z-index: 100;

	-webkit-box-shadow: 7px 7px 11px -5px rgba(24, 26, 26, 0.05);
	   -moz-box-shadow: 7px 7px 11px -5px rgba(24, 26, 26, 0.05);
			box-shadow: 7px 7px 11px -5px rgba(24, 26, 26, 0.05);

	&:before{
		content:"";
		width: 0;
		height: 0;
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-left: 9px solid #fff;
		position: absolute;
		top: 11px;
		right: -9px;
		z-index: 99;
	}

}

.playlist-popout{

	p{
		font-size: .8em;
		margin: 0;
		overflow: hidden;
	}

	.share-strip{
		margin-bottom: 9px;
	}

	.bottom-inner{
		border-top: 1px solid nth($grey, 4);
		padding-top: 12px;
		cursor: pointer;
	}

	svg{
		cursor: pointer;
		height: 18px;
		width: 18px;
	}

	.trash-icon{
		height: 12px;
		width: 12px;
		float: right;
	}
}














/*Main Content container===============*/
section.app{
	@include col(9);
	float: left;
}

.section-header{
	height: 120px;
	border-bottom: 1px solid nth($grey, 4);
}

.search{
	overflow: hidden;
	@include col(8);
	@include col_ctr(8);
	@include vertical-align;

	input{
		float: left;
		margin: 0;
		padding: 0 6%;
		height: 39px;
	}

	input[type="text"]{
		@include col(10);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		// border-right: none;
		border: none;
	}

	input[type="submit"]{
		@include col(2);
		background: $red;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		// border: 1px solid nth($grey, 3);
		border-left: none;
	}
}

.main-container{
	ul{
		margin-bottom: 0;
		position: relative; /*required for submenu overflow visibility*/

		li{
			line-height: 36px;
			padding: 0 2%;
			overflow: hidden;

			span{
				@include col(3);
				float: left;
				display: inline-block;
			}

			.li-length, .li-genre{
				@include col(1);
				float: right;
			}

			.li-play, .li-menu{
				width: 6%;
			}

			.li-artist{
				@include col(2);
			}

			.li-menu{
				float: right;
				overflow: visible;
			}

			svg{
				height: 12px;
				// width: 18px;
				vertical-align: middle;
			}
		}
	}
}

.scroll-container{
	height: 65.25vh;
	overflow: scroll;
}

.li-header{
	font-weight: 700;
	@include col(12);
	border-bottom: 1px solid nth($grey, 4);
	font-size: .8em;

	.li-title{
		margin-left: 6%;
	}

	.li-length{
		margin-right: 6%;
	}
}


.li-group{
	color: nth($grey, 2);
	font-size: .8em;
	cursor: pointer;
	// position: relative;
}


.main-popout{
	width: 15%;
	height: 111px;
	padding: 0 1%;
	right: 8.2%;
	top: 5px;

	ul{
		position: relative;

		li{
			font-size: .6em;
			line-height: 27px;
			cursor: pointer;

			svg{
				height: 10px;
			}

			.more-arrow{
				float: left;
				width: 18px;
			}

			ul{
				// display: none;
				position: absolute;
				right: 107%;
				width: 110%;
				height: 350%;
				overflow: auto;//playlist overflow scroll
				top: 27px;

				li{
					font-size: .6em;
					line-height: 18px;
					@include col(12);
					padding: 1%;

					form{
						margin-bottom: 18px;

						input{
							height: 18px;
							font-size: .6em;
						}

						input[type="submit"]{
							line-height: 0px;
							background: $red;
							color: $white;
						}
					}

					p{
						font-size: .9em;
						line-height: 18px;
						margin: 0;

						svg{
							float: right;
							text-align: right;
						}
					}
				}
			}
		}
	}
}

.playlist-menu-header{
	border-bottom: 1px solid nth($grey, 4);
	margin-bottom: 9px;
}

.main-popout ul::-webkit-scrollbar {
    display: none;
}

.main-menu-first-child{
	margin-left: 18px;
}

.li-hover:hover{
	background: $white;
}





/*Footer Container========================*/
.footer{
	background: $black;
	height: 72px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 2%;
	color: $white;
	// overflow: hidden;

	-webkit-box-shadow: 0px -31px 24px -7px $white;
	   -moz-box-shadow: 0px -31px 24px -7px $white;
			box-shadow: 0px -31px 24px -7px $white;
}


.info{
	@include col(3);
	float: left;
	overflow: hidden;

	ul{
		float: left;
		margin: 9px 0 0 2%;

		li{
			font-size: .8em;
		}
	}

	img{
		display: block;
		float: left;
		height: 63px;
		border-radius: 36px;
		margin-top: 4px;
	}
}

.transport-ctrl{
	@include col(1);
	float: left;
	overflow: hidden;
	@include vertical-align;

	svg, img{
		@include col(4);
		float: left;
		cursor: pointer;
	}

	.play{
		height: 17px;
		width: 17px;
		margin: 0 6px 0 9px;
	}

	.prev, .next{
		height: 12px;
		margin-top: 3px;
	}
}

.seek-ctrl{
	@include col(3);
	float: left;
	@include vertical-align;
	height: 18px;
	overflow: hidden;
	position: relative;

	p{
		font-size: 1.2em;
		display: inline;
		float: right;
		line-height: 0px; //important for lining up seek-line
	}
}

.seek-line{
	@include col(10);
	height: 0px;
	border-bottom: 1px solid nth($grey, 2);
	@include vertical-align;
	margin-top: 9px;
}

#seek_dot{
	width: 12px;
	height: 12px;
	background: $red;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	z-index: 10;
	opacity: .7;
	cursor: pointer;
}

.volume-ctrl{
	@include col(1);
	float: left;
	height: 100%;

	.vol-icon{
		fill: $white;
		height: 18px;
		@include vertical-align;
		cursor: pointer;
	}
}

.playing-share-ctrl{
	@include col(1);
	float: left;
	@include vertical-align;
}

/*Move this to global after built*/
.share-strip{
	overflow: hidden;

	svg{
		@include col(3);
		display: block;
		float: left;
		padding-left: 6px;
	}

}

.playon-ctrl{
	@include col(1);
	float: left;
	@include vertical-align;

	h3{
		font-size: 1.2em;
	}

	select{
		@include col(11);
		background: transparent;
		background: url(../images/icons/down-arrow-wht.svg) no-repeat right;
		border-radius: 2px;
		-webkit-appearance: none;
		border: 1px solid $white;
		color: $white;
		font-size: .9em;
		padding: 3px;
		outline: none;
	}
}


.profile-display{
	@include col(2);
	float: left;
	overflow: hidden;
	height: 100%;
	padding: 18px 0 0 18px;


	h3{
		font-size: 1.2em;
		@include col(9);
		display: block;
		line-height: 18px;
	}

	p{
		font-size: 1.5em;
		line-height: 18px;
		@include col(9);
		display: inline;
	}

	.settings-icon{
		float: right;
		@include col(2);
		@include vertical-align;
		cursor: pointer;
	}
}























