/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 2/15/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*


----------------SASS------------------*/
/*----Sass imports----*/
/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo



/*-----12 col grid------*/
/*Breakpoints -------------------*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, em, img, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

/*--------------------------------------End CSS Reset / Start General-------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #272a2a;
  font: 62.5% 'Open Sans', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3.6em;
  /*18x4*/
  line-height: 1.5;
}

h2 {
  font-size: 3.6em;
  /*18x3*/
  line-height: 1.5;
  font-weight: 100;
}

h3 {
  font-size: 1.6em;
  /*18x2 - 6*/
  line-height: 1.5;
}

p, ul, dl {
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  line-height: 1.5;
}

a {
  cursor: pointer;
}

a, input[type="submit"] {
  text-decoration: none;
  color: #3b578a;
  opacity: 1;
  outline: none;
  -webkit-appearance: none;
  /*overrides safari mobile default styling*/
}

a:visited {
  outline: none;
}

a:hover, input[type="submit"]:hover, button:hover {
  opacity: .7;
}

a.no-tran:hover {
  opacity: 1;
}

img {
  max-width: 100%;
}

input, button, textarea {
  border: none;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  height: 30px;
  display: block;
  margin-bottom: 9px;
  padding: 9px;
  font-size: 1.6em;
  font-weight: 100;
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #d6d6d6;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d6d6d6;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d6d6d6;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d6d6d6;
}

/*--------------------------------------End General / Start Objects------------------------------------*/
.hide-text {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.small {
  font-size: .4em;
}

.super {
  vertical-align: top;
}

.red {
  color: #cf2425;
}

.blue {
  color: #3b578a;
}

.light-gray {
  color: #d6d6d6;
}

.dark-gray {
  color: #272a2a;
}

.underline {
  text-decoration: underline;
}

.outline {
  border: 1px solid #ebebeb;
  border-radius: 2px;
}

/*--------------------------------------End Objects / Start Main------------------------------------*/
header {
  height: 60px;
  background: #0f1010;
  padding: 0 6%;
  overflow: hidden;
}
header h1 {
  display: inline;
}
header button {
  background: none;
  float: right;
  color: #ebebeb;
  line-height: 0;
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 15px;
}

.hero {
  height: 700px;
  height: 100vh;
  background: url(../images/hero-bg.jpg) #ebebeb no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.cta {
  height: 100%;
  width: 50%;
  float: left;
  padding-left: 6%;
  margin-top: 99px;
}
.cta h2 {
  color: #ebebeb;
  width: 75%;
  margin-bottom: 18px;
}
.cta p {
  color: #ebebeb;
  width: 75%;
}

.signup {
  height: 100%;
  width: 41.6666666%;
  float: right;
  margin-top: 99px;
  padding-right: 6%;
}
.signup h2 {
  color: #ebebeb;
  width: 75%;
  float: right;
}
.signup form {
  float: right;
  width: 75%;
  opacity: .9;
}
.signup form input[type="email"], .signup form input[type="text"], .signup form input[type="submit"], .signup form .fb-signup {
  height: 48px;
  width: 100%;
}
.signup form input[type="submit"] {
  border: none;
  background: #e5a539;
  color: #272a2a;
  width: 100%;
}
.signup form .or {
  text-align: center;
  color: #ebebeb;
}
.signup form .fb-signup {
  border: none;
  background: #3b578a;
  color: #ebebeb;
}

.howto {
  height: 400px;
  background: #0f1010;
}

.details {
  height: 800px;
}
