/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 3/1/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/

/*


----------------SASS------------------*/

$white: #ebebeb;
$grey: #272a2a, /* slightly lighter ->2a2d2d*/
#494F4F,
#949494,
#d6d6d6,
#e2e2e2,
#e7e7e7;
$dark-grey: #343838;
$black: #0f1010;
$blue: #3b578a;
$red: #cf2425;
$yellow: #e5a539;
$green: #2f7c2f;

/*----Sass imports----*/
@import "util";
@import "reset";
@import "defaults";




/*--------------------------------------End General / Start Objects------------------------------------*/


.hide-text {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.small{
	font-size: .4em;
}

.super{
	vertical-align: top;
}

.bg-white{
	background: #fff;
	@include duration();
}

.red {
  color: $red !important;//assigned ! for overriding specificity through jquery operations
  @include duration;
}

.blue {
  color: $blue;
}

.green{
	color: $green;
}

.light-gray {
  color: nth($grey, 3);
}

.mid-gray{
	color: nth($grey, 2);
}

.dark-gray {
  color: nth($grey, 1);
}

.underline {
  text-decoration: underline;
}

.outline{
	border: 1px solid $white;
	border-radius: 2px;
}

.light{
	font-weight: 100;
}

.bold{
	font-weight: 700;
}

input[type="email"], input[type="text"], input[type="submit"], input[type="password"], .copy-signup, select{
	height: 48px;
	@include col(12);
}


input[type="submit"], .copy-signup{
	border: none;
	background: $yellow;
	color: nth($grey, 1);
	@include col(12);
}
/*--------------------------------------End Objects / Start Main------------------------------------*/


#wrapper{
	background: $white;
}


.popdown{
	@include col(10);
	position: absolute;
	right: 0;
	top: 54px;
	margin-right: 6%;
	min-height: 190px;
	background: $white;
	border-radius: 2px;
	border: 1px solid nth($grey, 3);
	padding: 1%;

	@include break-md{
		@include col(2);
	}

	&:before{
		content:"";
		width: 0;
		height: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 18px solid $white;
		position: absolute;
		top: -9px;
		right: 27px;
	}

	input, button{
		height: 36px;
	}
}






header {
  height: 60px;
  background: $black;
  padding: 0 6%;
  // overflow: hidden; //********Need to fix this to accomidate floats in children*/
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  img{
  	margin-top: 6px;
  }

  #sign-in-btn{
  	background: none;
  	float: right;
  	color: $white;
  	line-height: 0;
  	font-size: 1.5em;
  	font-weight: 100;
  	margin-top: 15px;
  }


}


.plusContainerSM, .plusContainerLG{
	width: 100%;
	background: #D84937;/*plus button color*/
	border-radius: 5px;
	padding: 9px 0 0 6%;

}

.plusContainerLG{
	padding: 9px 0 0 25%;
}






.hero {
  @include col(12);
  overflow: hidden;
  background: $white;

  @include break-sm{
  	background: url(../images/hero-bg.jpg) no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  }

  @include break-md{
  	height: 700px;
  	height: 100vh;
  }
}


.cta{
	height: 100%;
	@include col(12);
	padding-left: 6%;
	margin-top: 108px;

	@include break-sm{
		margin-top: 198px;
		@include col(10);
		@include col_ctr(10);
	}

	@include break-md{
		@include col(6);
		@include col_ctr(0);
		float: left;
	}

	h2{
		color: $black;
		margin-bottom: 18px;
		font-weight: 400;
		line-height: 1em;
		text-align: center;
		@include col(11);
		@include col_ctr(11);

		@include break-sm{
			color: $white;
			font-weight: 100;
			line-height: 1.5em;
			text-align: left;
		}

		@include break-md{
			@include col(9);
			@include col_ctr(0);
		}
	}

	p{
		color: $black;
		font-weight: 100;
		@include col(10);
		@include col_ctr(10);

		@include break-sm{
			color: $white;
			@include col(11);
			@include col_ctr(11);
		}

		@include break-md{
			@include col(9);
			@include col_ctr(0);
		}
	}
}


.signup{
	height: 100%;
	@include col(12);
	margin-top: 81px;

	@include break-sm{
		margin-top: 198px;
	}

	@include break-md{
		@include col(6);
		padding-right: 6%;
		float: left;
	}

	h2{
		color: $black;
		padding-left: 6%;
		text-align: center;
		font-size: 2.7em;

		@include break-sm{
			color: $white;
			padding-left: 0;
		}

		@include break-md{
			@include col(9);
			text-align: left;
			float: right;
		}
	}

	form{
		float: right;
		opacity: .98;
		@include col(10);
		@include col_ctr(10);
		margin-bottom: 42px;

		@include break-sm{
			@include col(6);
			@include col_ctr(6);
		}

		@include break-md{
			@include col(9);
			@include col_ctr(0);
			margin-bottom: 0;
		}

		.or{
			text-align: center;
			color: $black;
			margin-top: 18px;

			@include break-sm{
				color: $white;
			}
		}
	}
}







.howto{
	background: $black;
	position: relative;

	@include break-md{
		&:before{
			content: "";
			background: url(../images/icons/mouse.svg) no-repeat rgba(15,16,16, .4);
			background-position: center 27px;
			background-size: 30px;
			position: absolute;
			top: -90px;
			height:218px;
	     	@include col(3);
	     	@include col_ctr(3);
	     	border-radius: 218px 218px 0 0;
		}
	}

	h2{
		text-align: center;
		color: $white;
		padding: 72px 0 72px;

		@include break-sm{
			padding: 148px 0 72px;
		}
	}
}

.diagram{
	overflow: hidden;
	text-align: center;
	padding: 0 6% 148px;

	div{
		float: left;
		padding: 0 6px;
		margin-bottom: 18px;
		@include col(8);
		@include col_ctr(8);

		@include break-sm{
			margin-bottom: 0;
			@include col_ctr(0);
			width: 20%;
		}

		@include break-md{
			padding: 0 18px;
		}


		.svg{
			fill: $white;
			height: 39px;
		}

		p{
			color: $yellow;
			font-size: 1.5em;

			@include break-md{
				font-size: 2.1em;
			}
		}
	}
}





.details{
	background: $white;
	overflow: hidden;
	padding-top: 72px;

	@include break-sm{
		padding-top: 148px;
		padding-bottom: 36px;
	}

	@include break-md{
		padding-bottom: 108px;
	}

	h2{
		text-align: center;

		@include break-sm{
			text-align: left;
		}
	}
}

.shots{
	float: left;
	padding-left: 6%;
	@include col(10);
	@include col_ctr(10);

	@include break-md{
		@include col(6);
		@include col_ctr(0);
	}
}

.copy{
	float: right;
	padding:36px 6% 0;
	@include col(10);
	@include col_ctr(10);

	@include break-sm{
		padding:0 6%;
	}

	@include break-md{
		@include col(6);
		@include col_ctr(0);
	}

	p{
		margin-top: 18px;
	}

	p:nth-child(odd){
		margin-top: 72px;
		margin-bottom: 36px;
	}

	button{
		height: 57px;
		margin-bottom: 72px;

		@include break-md{
			margin-bottom: 36px;
		}
	}
}






footer{
	min-height: 198px;
	background: $black;
	overflow: hidden;

	@include break-sm{
		height: 198px;
	}

	@include break-md{
		padding-top: 36px;
	}

	.col-1{
		// padding:36px 0 0 6%;
		@include break-md{
			@include col(4);
			float: left;
			padding:36px 0 0 6%;
		}

		nav{
			ul{
				li{
					line-height: 3em;
					font-size: .8em;
					padding: 0 2%;
					border-bottom: 1px solid nth($grey, 1);
					text-align: center;
					@include col(12);

					@include break-md{
						line-height: 1.5em;
					}

					@include break-md{
						padding: 0;
						text-align: left;
						border: none;
					}

					a{
						color: $white;
					}
				}
			}
		}
	}

	.col-2{
		color: $white;
		text-align: center;
		font-weight: 100;
		font-size: .8em;
		padding-top: 84px;

		@include break-md{
			@include col(4);
			float: left;
		}
	}

	.col-3{
		// padding: 114px 6% 0 0;
		@include col(6);
		@include col_ctr(6);

		@include break-md{
			@include col(4);
			@include col_ctr(0);
			float: right;
			padding: 114px 6% 0 0;
		}

		ul{
			overflow: hidden;

			li{
				display: inline-block;
				@include col(2);
				@include break-md{
					float: right;
				}

				.svg{
					fill: nth($grey, 2);
					height: 30px;
				}
			}
		}
	}
}



#forgotFormContainer{
	@include col(3);
	@include col_ctr(3);
	padding: 18% 0 50%;
}

#error, #success{
	display: none;
}








/*----Sass import application stylesheet----*/
@import "app";
@import "lightbox";












