/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 2/15/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/

/*


----------------SASS------------------*/

$white: #ebebeb;
$grey: #272a2a,
#949494,
#d6d6d6;
$black: #0f1010;
$blue: #3b578a;
$red: #cf2425;
$yellow: #e5a539;

/*----Sass imports----*/
@import "util";
@import "reset";
@import "defaults";




/*--------------------------------------End General / Start Objects------------------------------------*/

.hide-text {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
}

.small{
	font-size: .4em;
}

.super{
	vertical-align: top;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.light-gray {
  color: nth($grey, 3);
}

.dark-gray {
  color: nth($grey, 1);
}

.underline {
  text-decoration: underline;
}

.outline{
	border: 1px solid $white;
	border-radius: 2px;
}

/*--------------------------------------End Objects / Start Main------------------------------------*/

header {
  height: 60px;
  background: $black;
  padding: 0 6%;
  overflow: hidden;

  h1{
  	display: inline;
  }

  button{
  	background: none;
  	float: right;
  	color: $white;
  	line-height: 0;
  	font-size: 1.5em;
  	font-weight: 100;
  	margin-top: 15px;
  }
}

.hero {
  height: 700px;
  height: 100vh;
  background: url(../images/hero-bg.jpg) $white no-repeat;
  background-size: cover;
  @include col(12);
  overflow: hidden;
}

.cta{
	height: 100%;
	@include col(6);
	float: left;
	padding-left: 6%;
	margin-top: 99px;

	h2{
		color: $white;
		@include col(9);
		margin-bottom: 18px;
	}

	p{
		color: $white;
		@include col(9);
	}
}

.signup{
	height: 100%;
	@include col(5);
	float: right;
	margin-top: 99px;
	padding-right: 6%;

	h2{
		color: $white;
		@include col(9);
		float: right;
	}

	form{
		float: right;
		@include col(9);
		opacity: .9;

		input[type="email"], input[type="text"], input[type="submit"], .fb-signup{
			height: 48px;
			@include col(12);
		}

		input[type="submit"]{
			border: none;
			background: $yellow;
			color: nth($grey, 1);
			@include col(12);
		}

		.or{
			text-align: center;
			color: $white;
		}

		.fb-signup{
			border: none;
			background: $blue;
			color: $white;
		}
	}
}



.howto{
	height: 400px; //remove after content in place
	background: $black;
}

.details{
	height: 800px;//remove after content in place
}