/*
	Thanks for checking out my code!!


	Copyright Adam Gedney 2/15/14
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*


----------------SASS------------------*/
$white: #fff;
$off-white: #f6f6f6;
$light-grey: #e8e8e8;
$med-grey: #969696;
$dark-grey: #333333;
$black: #000;
$dark-red: #990100;
$light-red: #b90504;
$blue: #0971b2;
$yellow: #fffc19;

/*----Sass imports----*/
@import "util";
@import "reset";
@import "defaults";




/*--------------------------------------End General / Start Objects------------------------------------*/

.hide-text{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

.red{
	color: $dark-red;
}

.blue{
	color: $blue;
}

.light-gray{
	color: $light-grey;
}

.dark-gray{
	color: $dark-grey;
}

.underline{
	text-decoration: underline;
}


/*--------------------------------------End Objects / Start Main------------------------------------*/



































