

/*==================================*/
/*Account Settings Page*/
/*==================================*/

.info-wrapper{
	overflow: hidden;
	padding: 6% 6% 12%;
	position: relative;
	min-height: 600px;


	input[type="text"], input[type="password"], input[type="submit"], select, button{
		height: 36px;
	}

	input[type="submit"], button{
		@include col(12);
		height: 45px;
		background: $blue;
		color: $white;
		line-height: 16px;
		border: none;
	}

	input[type="submit"]{
		margin-top: 18px;
	}

	label{
		display: block;
		font-size: 1.2em;
		color: nth($grey, 3);
		margin: 15px 0 6px 0;
	}

	form{
		position: relative;
	}

}

.info-col1, .info-col2, .info-col3{
	@include col(12);
	height: 100%;
	margin-bottom: 72px;

	p{
		font-family: OpenSansBold;
		font-size: 2.1em;
		color: nth($grey, 5);
		border-bottom: 1px solid nth($grey, 1);
	}

	@include app-break-smmd{

		form, #infoDeviceList{
			@include col(4);
		}
	}
}

.second-form{
	margin-top: 48px;
}

.info-col1{
	overflow: hidden;
	margin-bottom: 0;
	padding-bottom: 72px;

	select{
		background: #fff;
		@include col(12);
		padding: 5px;
		font-size: 16px;
		line-height: 1;
		border: 0;
		border-radius: 2px;
		height: 36px;
		-webkit-appearance: none;
		border: 1px solid nth($grey, 3);
		margin-bottom: 9px;
	}
}

#infoId{
	float: right;
	margin-top: 9px;
}

.info-col2, .info-col3{
	padding-bottom: 72px;

	@include app-break-smmd{
		padding-bottom: 72px;
	}
}

.info-col3{

	label[for="emailUpdatesInfo"], label[for="themeDark"], input[type="checkbox"], label[for="disableTips"]{
		display: inline;
		vertical-align: middle;
	}

	button{

		@include app-break-smmd{
			@include col(4);
		}
	}

}

#logoutLink{
	margin-top: 36px;
}

#deleteAccount{
	background: $red;
}


.info-col2{

	ul{
		li{
			overflow: hidden;
			border-top: 1px solid nth($grey, 3);
			line-height: 36px;

			img{
				height: 12px;
				float: right;
				margin-top: 10px;
			}
		}
	}
}


#updateProfileError, #resetPasswordError{
	position: absolute;
	bottom: -36px;
	color: $red;
	z-index: 10000;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border: 0;
}



#resetPasswordError{
	bottom: -18px;
}




