










/*
*[title]:hover:after{
	content: attr(title);
  	position: absolute;
  	z-index: 10000;
  	top: 9px;
  	left: 9px;
	display: block;
	width: 200px;
	height: 200px;
	padding: 6px;
	border-radius: 2px;
	background: black;
	color: white;
}*/

img#mouseAddIcon{
	position: absolute;
	z-index: 20000;
	width: 15px;
	height: 15px;
	display: none;
}

.dropdown-bold{
	font-family: OpenSansBold;
	color: $red !important;//Used for js specificity overrides
}


.share-strip{
	overflow: hidden;

	svg, img{
		@include col(3);
		display: block;
		float: left;
		padding-left: 6px;
	}
}


// .li-group:hover, .li-playlist:hover, .library-nav li:hover{
// 	background: nth($grey, 5);
// }



svg:hover, img:hover{
	opacity: .8;
}

//Borowed from CSS-Tricks
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="password"]{
	line-height: 16px;
}


.highlight{
	background: rgba(0,0,0, .2) !important;
}

/*--------------------------------------End Objects / Start Main------------------------------------*/

.no-select{
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: -moz-none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

/* *:not(input.field) */
li, .footer, span, .section-header, .search, #video, #adsense, .video-size-ctrl,  img, #searchForm input, section.app, aside.app  {
   @extend .no-select;
}



html{
	background: $dark-bg;
}

#app{
	color: nth($grey, 3);
	background: $dark-bg;
	overflow: hidden;
	letter-spacing: 1px;/*give gothic font some space*/
}


#mobile-header{
	height: 48px;
	background: $black;
	position: relative;
	z-index: 9999;

	#menu-btn{
		display: inline-block;
		margin: 0 0 3px 18px;
		border-radius: 2px;
		border: 1px solid nth($grey, 1);
		padding: 6px;
	}

	.mobile-logo{
		display: inline-block;
		width: 125px;
		margin: 3px 0 3px 20%;

		@include app-break-sm{
			margin: 3px  0 3px 30%;
			width: 155px;
		}

		@include app-break-smmd{
			margin: 3px 0 3px 42%;
		}
	}

	@include app-break-smmd{
		display: none;
	}
}

#minimizeOverlay{
	position: absolute;
	top: 13px;
	right: 9px;
	width: 40px;
	display: none; //used in jQuery show/hide

	img{
		@include col(10);
	}
}














/*==================================*/
/*Modal windows*/
/*==================================*/
#deleteAcctModal, #restoreAcctModal, #nameDeviceModal{
	display: none;
}

.modal-container{
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

.modal{
	@include col(10);
	@include col_ctr(10);
	position: relative;
	background: $white;
	border-radius: 2px;
	margin-top: 13%;
	padding: 1%;
	text-align: center;

	h2{
		font-size: 2.4em;
		margin-bottom: 9px;
	}

	p{
		font-size: 1.2em;
	}

	@include app-break-smmd{
		@include col(3);
		@include col_ctr(3);
	}
}

.modalCloseIcon{
	position: absolute;
	bottom: 102%;
	left: 102%;
}

#deleteAccountButton, #newAccountButton, #restoreAccountButton{
	@include col(8);
	@include col_ctr(8);
	height: 45px;
	color: $white;
	background: $red;
	border: none;
}

#restoreAccountButton{
	background: $green;
}

#restoreAcctModal{
	.modal{
		text-align: left;
	}
}

#devicePrompt{
	p{
		text-align: left;
		margin-top: 18px;
		margin-bottom: 0;
	}
}





#appLoading{
	h3{
		color: $white;
		margin-top: 20%;
		text-align: center;
	}
}




#closeAds{
	position: relative;
	width: 21px;
	height: 21px;
	top: 0;
	left: 92%;
	z-index: 1000;
}

#adsense{
	position: relative;
	/*left: 0;*/
	@include col(12);
	/*bottom: 120px;*/
	height: 61px;
	background: rgba(0,0,0,.5);
	z-index: 10000;
	opacity: .75;
	overflow-x: hidden;
	display: none;


	@include app-break-smmd{
		position: fixed;
		bottom: 72px;
		left: 25%;
		@include col(9);
	}
}

#adsense1{
	width: 468px;
	height: 60px;
	position: absolute;
	left: 0;
	bottom: 0;
}

#adsense2{
	width: 468px;
	height: 60px;
	position: absolute;
	left: 468px;
	bottom: 0;
	display: none;

	@include app-break-sm{
		display: inline-block;
	}
}

#adsense3{
	width: 468px;
	height: 60px;
	position: absolute;
	left: 468px;
	bottom: 0;
	display: none;

	@include app-break-md{
		display: inline-block;
	}
}


.ytbanner {
	width: 468px;
	height: 60px;
	float: left;
	text-align: left;
	left: 0;
}

/*@media(min-width: 500px) { .ytbanner { width: 468px; height: 60px; } }
@media(min-width: 800px) { .ytbanner { width: 728px; height: 90px; } }*/

















/*Light Theme Overrides==============================================*/
.light-fonts{
	color: nth($grey, 3) !important;/*nth($grey, 3)*/
}

.light-border-bottom{
	border-bottom: 1px solid nth($grey, 5) !important;/*nth($grey, 3)*/
}

.light-border-right{
	border-right: 1px solid nth($grey, 5) !important;/*nth($grey, 3)*/
}

.light-border-left{
	border-left: 1px solid nth($grey, 5) !important;/*nth($grey, 3)*/
}

.light-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color: nth($grey, 5) !important;
}
.light-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: nth($grey, 5) !important;
}
.light-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: nth($grey, 5) !important;
}
.light-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: nth($grey, 5) !important;
}

.light-input-bg{
	background: nth($grey, 5) !important;
	border: none !important;
}



/* --END-- Light Theme Overrides======================================*/
















/*----Sass imports----*/
@import "sidebar";
@import "appMain";
@import "acctSettings";
@import "footer";








