# Created by .gitignore support plugin (hsz.mobi)

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/



#SASS stuff
.sass-cache
.sass-cache/*