<div>
	<script id="app" type="text/x-handlebars-template">


	<div id="app">

		<aside class="app">

			<div class="library-nav">

				<ul>
					<li id="returnToSearch">Return to search</li>
					<li class="bold settings-menu"><a href="#">Settings</a></li>
					<li id="acctSettings" class="profile-display"><a href="#">Account</a></li>
					<li id="deviceSettings" ><a href="#">Devices</a></li>


					<li class="bold library-menu">Library</li>
					<li class="viewSongs"><a href="#">Songs</a></li>
					<li class="viewArtists"><a href="#">Artists</a></li>
					<li class="viewAlbums"><a href="#">Albums</a></li>
					<li class="viewGenres"><a href="#">Genres</a></li>
				</ul>
			</div><!-- /.library-nav-->

			<div class="playlist-nav">
				<h3 class="bold">Playlists</h3>

				<div class="playlist-scroll-container">
					<ul id="playlistWrapper">


					</ul>
				</div><!-- /.playlist-scroll-container -->









				<div class="video-size-ctrl">
					<img id="video-min" class="svg" src="images/icons/min.svg" alt="hide video icon"/>
					<img id="video-full" class="svg" src="images/icons/fullscreen.svg" alt="watch video fullscreen icon"/>
					<a title="Watch on YouTube" href="http://youtube.com/watch?v=idSQ3hSLZ8Q" target="-blank"><img class="svg" src="images/icons/watchyoutube.svg" alt="watch video on youtube icon"/></a>
				</div><!-- /.video-size-ctrl -->



				<div id="video"></div>


			</div><!-- /.playlist-nav-->
		</aside>






		<section class="app">
			<div class="section-header">
				<div class="search">
					<form id="searchForm" >
						<input id="searchInput" type="text" placeholder="Search YouTube for songs, artists, albums, or genres" autofocus/>
						<input id="searchSubmit" type="submit" value="" />
					</form>
				</div><!-- /.search-->
			</div><!-- /.section-header-->



			<div class="main-container">

				<ul class="fade-down">
					<li class="li-header"><!-- list item group-->
						<span title="Play all songs" class="li-col1 play-all-icon"><img class="svg" src="images/icons/play-drk.svg" alt="play all icon"/></span>
							<span class="li-col2 viewSongs">Title</span>
								<span class="li-col3 viewArtists">Artist</span>
									<span class="li-col4 viewAlbums">Album</span>
								<span class="li-col7 sourceTitle">Library</span>
							<span class="li-col5 viewGenres">Genre</span>
						<span class="li-col6">Length</span>
					</li>
				</ul>





				<div class="scroll-container">

				</div><!-- /.scroll-container-->


				<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
				<!-- yootunes adsense acct -->
				<!-- <ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-6392619401477214"
				     data-ad-slot="2883494701"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script> -->

			</div><!-- /.main-container-->
		</section>


		<!-- displays a loading icon while search results are fetched -->
		<div class="loading">
		</div>


		<div class="footer">

			<div class="info">


				<img class="svg logo playingAnimation" src="images/icons/note.svg" alt="yootunes logo"/>
				<!-- note.svg-->

				<ul>
					<li id="infoTitle" class="truncate"></li>
					<li id="infoArtist" class="truncate"></li>
					<li id="infoAlbum" class="truncate"></li>
				</ul>
			</div><!-- /.info-->



			<div class="transport-ctrl">

				<img id="prev-btn" class="svg prev" src="images/icons/prev.svg" alt="previous track control icon" />
				<img id="play-btn" class="play" src="images/icons/play-wht.png" alt="previous track control icon" />
				<img id="next-btn" class="svg next" src="images/icons/next.svg" alt="previous track control icon" />
			</div><!-- /.transport-ctrl-->



			<div class="seek-ctrl">

				<div class="seek-fill">
				</div><!-- /.seek-fill-->

				<div id="seek-bar">

					<div id="seek-dot"></div><!-- /#seek-dot-->

						<div class="seek-line"></div><!-- /.seek-line-->
				</div><!-- /#seek-bar-->

				<p id="current-time"></p>
			</div><!-- /.seek-ctrl-->



			<div class="volume-ctrl">
					<img class="svg vol-icon volume-up" src="images/icons/vol-up.svg" title="Volume up" alt="volume up icon" />
					<img class="svg vol-icon volume-down" src="images/icons/vol-down.svg" title="Volume down" alt="volume down icon" />
			</div><!-- /.volume-ctrl-->



			<div class="playing-share-ctrl">

				<div class="share-strip">

					<a id="fbShareMain" target="_blank" href=""><img class="svg" src="images/icons/fb-color.svg" alt="share icon" /></a>
					<a id="googleShareMain" target="_blank" href=""><img class="svg" src="images/icons/google-color.svg" alt="share icon" /></a>
					<a id="twitterShareMain" target="_blank" href=""><img class="svg" src="images/icons/twitter-color.svg" alt="share icon" /></a>

					<a id="linkShareMain" class="linkShare" target="_blank" href=""><img class="svg" src="images/icons/link.svg" alt="share icon" /></a>
				</div><!-- /.share-strip-->
			</div><!-- /.playing-share-ctrl-->



			<div class="playon-ctrl">

				<h3>Play on device</h3>

				<select id="play-on">
					<option value="Macbook Pro">Macbook Pro</option>
					<option value="Macbook Pro">IPhone</option>
					<option value="Macbook Pro">Moto X</option>
					<option value="Macbook Pro">Julies Mac</option>
					<option value="Macbook Pro">Mac Pro</option>
				</select>
			</div><!-- /.playon-ctrl-->


		</div><!-- /.footer-->


	</div><!-- /#app-->




	</script>
</div>