<div>
	<script id="forgot" type="text/x-handlebars-template">

	<header>
		<img src="images/logo_wht.svg" height="36" alt="yootunes logo"/>

	</header>


		<div id="forgotSuccess"></div>

		<div id="forgotFormContainer">

		<p class="bold forgotElements">Forgot your password?</p>
		<p class="forgotElements">Enter your email address & we'll email you instructions on how to reset your password.</p>

				<form class="forgotElements">
					<input id="forgotInput" type="text" value="" placeholder="Enter your email address"/>
					<input id="forgotSubmit" type="submit" value="send email"/>
				</form>
				<p id="error" class="red">User doesn't exist. Got some typos? Are you sure you didn't log in with Google?</p>
				<p id="success" class="green">Thanks! An email has been sent to you with instructions on how to change your password.</p>

		</div><!-- /#forgotFormContainer -->



		<footer>
			<div class="col-1">
				<nav>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Credits</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</nav>
			</div><!-- /.col-1 -->


			<div class="col-2">
				<img src="images/logo_wht.svg" height="36" alt="yootunes logo"/>

				<p>&copy;2014 YooTunes.com. All rights reserved.</p>
			</div><!-- /.col-2 -->


			<div class="col-3">
				<ul>
					<li><a href="#"><img class="svg" src="images/icons/facebook.svg" alt="social icon"/></a></li>
					<li><a href="#"><img class="svg" src="images/icons/google.svg" alt="social icon"/></a></li>
					<li><a href="#"><img class="svg" src="images/icons/linkedin.svg" alt="social icon"/></a></li>
					<li><a href="#"><img class="svg" src="images/icons/twitter.svg" alt="social icon"/></a></li>
				</ul>
			</div><!-- /.col-3 -->
		</footer>


		</script>
</div>