<div>
	<script id="libraryItem" type="text/x-handlebars-template">

{{#each song}}


		<li class="li-group"><!-- list item group-->
			<span class="li-col1" title="start playing from here">
				<img class="svg" src="images/icons/play-drk.svg" alt="track play icon" />
			</span>

			<span data-id="{{this.id}}" class="dropdown-trigger">
				<span class="li-col2">{{this.title}}</span>
					<span class="li-col3">{{this.artist}}</span>
						<span class="li-col4">{{this.album}}</span>
			</span><!-- /.dropdown-trigger-->

					<span title="Add to library" class="li-col7"><img class="svg add-icon" src="images/icons/add.svg" alt="add to library icon" />
					</span>

				<span data-id="{{this.id}}" class="dropdown-trigger">
					<span class="li-col6">{{this.length}}</span>
						<span class="li-col5">{{this.genre}}</span>
				</span><!-- /.dropdown-trigger-->
		</li>


		<!-- Popdown li -->
		<!-- **important__LInk to the 500 size .jpg at grooveshark -->
		<li data-id="{{this.id}}" class="li-group dropdown main-dropdown"><!-- list item group-->
			<span class="li-col1"><a data-lightbox="0" href="{{this.imgFull}}" ><img class="thumb" src="{{this.thumb}}" alt="track play icon" /></a></span>

				<span class="li-desc">{{this.desc}}</span>


				<ul class="dropdown-main-menu">

					<!-- Main Menu li **Add to Playlists-->
					<li class="add-to-playlist-menu-trigger">
						<span class="more-arrow add-to-playlist">
							<img class="svg" src="images/icons/more-arrow-left.svg" alt="more arrow"/>
						</span>

							<img class="svg" src="images/icons/add.svg" alt="add icon" />
								Add to playlist

									<!-- Sub Main Menu li-->
									<ul class="popout add-to-playlist-menu">
										<li class="playlist-menu-form">
											<p class="bold">Create new playlist <img class="svg" src="images/icons/more-arrow.svg" alt="more arrow"/></p>

											<form>
												<input type="text" class="main-menu-new-playlist-input" placeholder="New playlist name"/>

												<input type="submit" value="Save"/>
											</form>
										</li>

										<li class="playlist-menu-header">
											<p class="bold">Playlists</p>
										</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
											<li class="li-hover playlist-menu-sub-list">My jazz mix</li>
									</ul>

					</li>

					<!-- Main Menu li **Improve Data-->
					<li class="improve-meta-menu-trigger">
						<span class="more-arrow">
							<img class="svg improve-meta" src="images/icons/more-arrow-left.svg" alt="more arrow"/>
						</span>
							<img class="svg" src="images/icons/info-icon.svg" alt="info icon" />
								Improve data

									<!-- Sub Main Menu li-->
									<ul class="popout improve-meta-sub-menu">

										<li class="improve-meta-menu-form">
											<p class="bold">Improve data <img class="svg" src="images/icons/more-arrow.svg" alt="more arrow"/></p>

											<form>
												<input type="text" class="improve-track-input" placeholder="Track title" value="{{this.title}}"/>

												<input type="text" class="improve-artist-input" placeholder="Artist" value="{{this.artist}}"/>

												<input type="text" class="improve-album-input" placeholder="Album" value="{{this.album}}"/>

												<input type="text" class="improve-genre-input" placeholder="Genre" value="{{this.genre}}"/>

												<input type="submit" value="Save"/>
											</form>
										</li>
									</ul>
					</li>

					<!-- Main Menu **li Share-->
					<li class="li-share">
					Share
						<div class="share-strip">
							<a href="#"><img class="svg" src="images/icons/fb-color.svg" alt="share icon" /></a>
							<a href="#"><img class="svg" src="images/icons/google-color.svg" alt="share icon" /></a>
							<a href="#"><img class="svg" src="images/icons/twitter-color.svg" alt="share icon" /></a>
							<a href="#"><img class="svg" src="images/icons/link.svg" alt="share icon" /></a>
						</div><!-- /.share-strip-->
					</li>
				</ul>
		</li>


{{/each}}





	</script>
</div>