<div>
	<script id="libraryItem" type="text/x-handlebars-template">

	<ul id="libraryWrapper">


		{{#each song}}

		<li draggable="false" class="li-group resultItems" data-id="{{this.id}}" data-videoId="{{youtube_id}}" data-index="" data-resultLength="" ><!-- list item group-->

			<img draggable="false" title="Drag this song left, straight into a playlist. If you hover it over the word 'Playlists' then pickles will pop out and fall in love with you. Actually, you can just create a whole new playlist that way!" class="draggableIcon" src="images/icons/draggable.png" alt="draggable icon" />

			<span data-videoId="{{youtube_id}}" data-song="{{youtube_title}}" data-artist="{{artist}}" data-album="{{album}}" data-id="{{this.id}}" class="li-col1 play-icon" title="start playing from here">
				<img draggable="false" data-videoId="{{youtube_id}}" class="playIconImg" src="images/icons/play-drk.png" alt="track play icon" />
			</span>

			<span data-id="{{this.id}}" class="dropdown-trigger">
				<span data-id="{{this.id}}" data-user="{{../user.userId}}" class="li-col2 truncate">{{this.youtube_title}}</span>
					<span class="li-col3">{{this.artist}} </span>
						<span class="li-col4">{{this.album}} </span>
			</span><!-- /.dropdown-trigger-->

					<span data-id="{{this.id}}" data-user="{{../user.userId}}" data-in-library="false" data-libid="{{this.library_id}}" data-playlistId="{{this.playlist_id}}" title="Add to library" class="li-col7 addToLibrary"><img draggable="false" class="add-icon" src="images/icons/add.png" alt="add to library icon" />
					</span>

			<span data-id="{{this.id}}" class="dropdown-trigger">
					<span class="li-col6">{{this.length}}</span>
						<span class="li-col5">{{this.genre}}</span>
			</span><!-- /.dropdown-trigger-->













		<!-- Popdown li -->
		<div data-id="{{this.id}}" data-imgPath="{{this.img_default}}" class="li-group dropdown main-dropdown"><!-- list item group-->

			<span class="li-col1"><a class="youtube-img-a" data-id="{{this.id}}" data-lightbox="{{this.id}}" title="{{this.youtube_title}}" href="" ><img draggable="false" data-id="{{this.id}}" data-videoId="{{this.youtube_id}}"  class="thumb youtube-img" src="" alt="track play icon" /></a></span>

				<span class="li-desc">{{this.description}}</span>


				<ul class="dropdown-main-menu">

					<!-- Main Menu li **Add to Playlists-->
					<li class="add-to-playlist-menu-trigger">
						<span class="more-arrow add-to-playlist">
							<!-- <img draggable="false" class="svg" src="images/icons/more-arrow-left.svg" alt="more arrow"/> -->
						</span>


									<!-- Sub Main Menu li-->
									<ul class="popout add-to-playlist-menu">
										 <li class="playlist-menu-form">
											<p class="bold createNewPlaylistLink">
												<img draggable="false" class="svg" src="images/icons/add.svg" alt="add icon" />
													Create new playlist

											</p>

											<form class="newPlaylistForm">
												<input type="text" class="main-menu-new-playlist-input newPlaylistInput" placeholder="New playlist name"/>

												<input data-id="{{this.id}}" data-user="{{../user.userId}}" class="newPlaylistSubmit" type="submit" value="Save"/>
											</form>
										</li>

										<li class="playlist-menu-header">
											<p class="bold addToPlaylistTitle">
												<img draggable="false" class="svg more-arrow-down" src="images/icons/more-arrow-down.svg" alt="add icon" />
													Add to playlist</p>
										</li>
										<li data-id="{{this.id}}" class="playlistSubScrollContainer">

												<!-- Sub menu playlist loop-->

										</li>
									</ul>
					</li><!-- Main Menu li **Add to Playlists-->




					<!-- Main Menu Buy on iTunes   -->
					<li class="li-buy">
						{{#if this.itunes_song}}
							<a href="{{this.itunes_song}}" target="itunes_store"><img draggable="false" src="images/itunes-logo.jpg" alt="download on itunes"/></a>
						{{else}}

							{{#if this.itunes_artist}}
								<a href="{{this.itunes_artist}}" target="itunes_store"><img draggable="false" src="images/itunes-logo.jpg" alt="download on itunes"/></a>
							{{else}}
								{{#if this.itunes_album}}
									<a href="{{this.itunes_album}}" target="itunes_store"><img draggable="false" src="images/itunes-logo.jpg" alt="download on itunes"/></a>
								{{/if}}
							{{/if}}
						{{/if}}


					</li>




					<!-- Main Menu **li Share-->
					<li class="li-share">
					Share
						<div class="share-strip">
							<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v={{youtube_id}}"><img draggable="false" class="svg" src="images/icons/fb-color.png" alt="share icon" /></a>
							<a target="_blank" href="https://plus.google.com/share?url=https://www.youtube.com/watch?v={{youtube_id}}"><img draggable="false" class="svg" src="images/icons/google-color.png" alt="share icon" /></a>
							<a target="_blank" href="https://twitter.com/home?status=https://www.youtube.com/watch?v={{youtube_id}}"><img draggable="false" class="svg" src="images/icons/twitter-color.png" alt="share icon" /></a>
							<a class="linkShare" href="https://www.youtube.com/watch?v={{youtube_id}}"><img draggable="false" class="svg" src="images/icons/link.svg" alt="share icon" /></a>
						</div><!-- /.share-strip-->
					</li>
				</ul>
		</div>
	</li>
	{{/each}}

	<li class="li-group"><!-- list item group--></li>


	</ul>

	</script>
</div>