<div>
	<script id="playlist" type="text/x-handlebars-template">


{{#each playlist}}
		<li class="li-playlist"><a data-id="{{this.id}}" data-userid="{{this.user_id}}" class="playlistTitle" href="#">{{this.name}}</a>
			<span data-id="{{this.id}}" class="playlist-menu"><img class="svg" src="images/icons/menu.svg" alt="menu icon" />
			</span>
		</li>

		<li data-id="{{this.id}}" class="playlist-dropdown">
			<div class="playlist-popout">
					<p>Share</p>
						<div class="share-strip">

							<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://yootunes.com/playlist/{{this.user_id}}/{{this.id}}"><img class="svg" src="images/icons/fb-color.svg" alt="share icon" /></a>
							<a target="_blank" href="https://plus.google.com/share?url=http://yootunes.com/playlist/{{this.user_id}}/{{this.id}}"><img class="svg" src="images/icons/google-color.svg" alt="share icon" /></a>
							<a target="_blank" href="https://twitter.com/home?status=http://yootunes.com/playlist/{{this.user_id}}/{{this.id}}"><img class="svg" src="images/icons/twitter-color.svg" alt="share icon" /></a>
							<a target="_blank" href="http://yootunes.com/playlist/{{this.user_id}}/{{this.id}}"><img class="svg" src="images/icons/link.svg" alt="share icon" /></a>
						</div><!-- /.share-strip-->

					<p data-id="{{this.id}}" class="bottom-inner deletePlaylist" >Delete Playlist <img class="svg trash-icon" src="images/icons/trash-icon.svg" alt="share icon" /></p>

				</div><!-- /.playlist popout-->
		</li>


{{/each}}





	</script>
</div>