<div>
	<script id="playlist" type="text/x-handlebars-template">


{{#each playlist}}
		<li data-id="{{this.id}}" class="li-playlist">

				<a data-id="{{this.id}}" data-userid="{{this.user_id}}" class="playlistTitle" href="#">{{this.name}}</a>
					<span data-id="{{this.id}}" class="playlist-menu"><img class="svg" src="images/icons/more-arrow-down.svg" alt="menu icon" />
					</span>

					<form data-id="{{this.id}}" class="renamePlaylistForm">
						<input data-id="{{this.id}}" type="text" class="renamePlaylistInput" placeholder="Change playlist name"/>
						<input data-id="{{this.id}}" class="renamePlaylistSubmit" type="submit" value="save">
					</form>
		</li>





		<li data-id="{{this.id}}" class="playlist-dropdown">
			<div class="playlist-popout">
					<p>Share</p>
						<div class="share-strip">

							<a target="_blank" title="Yootunes is the ultimate YouTube Music player and library manager. Create playlists, share your library songs and playlists. Finally, there's a way to keep track of your favorite music on YouTube. Check it out now." href="https://www.facebook.com/sharer/sharer.php?u=http://yootunes.com?share={{this.share_url}}"><img class="svg" src="images/icons/fb-color.png" alt="share icon" /></a>
							<a target="_blank" title="Yootunes is the ultimate YouTube Music player and library manager. Create playlists, share your library songs and playlists. Finally, there's a way to keep track of your favorite music on YouTube. Check it out now." href="https://plus.google.com/share?url=http://yootunes.com?share={{this.share_url}}"><img class="svg" src="images/icons/google-color.png" alt="share icon" /></a>
							<a target="_blank" title="Yootunes is the ultimate YouTube Music player and library manager. Create playlists, share your library songs and playlists. Finally, there's a way to keep track of your favorite music on YouTube. Check it out now." href="https://twitter.com/home?status=http://yootunes.com?share={{this.share_url}}"><img class="svg" src="images/icons/twitter-color.png" alt="share icon" /></a>
							<a class="linkShare" title="Yootunes is the ultimate YouTube Music player and library manager. Create playlists, share your library songs and playlists. Finally, there's a way to keep track of your favorite music on YouTube. Check it out now." href="http://yootunes.com?share={{this.share_url}}"><img class="svg" src="images/icons/link.svg" alt="share icon" /></a>
						</div><!-- /.share-strip-->

					<p data-id="{{this.id}}" class="bottom-inner deletePlaylist" >Delete Playlist <img class="svg trash-icon" src="images/icons/trash-icon.svg" alt="share icon" /></p>

				</div><!-- /.playlist popout-->
		</li>


{{/each}}





	</script>
</div>