<div>
	<script id="reset" type="text/x-handlebars-template">

	<header>
		<img src="images/atom-logo.png" height="36" alt="yootunes logo"/>

	</header>



		<div id="forgotFormContainer">

		<p class="bold forgotElements">Enter your new password</p>

				<form class="forgotElements">
					<input id="resetInput" type="password" placeholder="Enter your new password"/>
					<input id="resetSubmit" type="submit" value="Save new password"/>
				</form>
				<p id="error" class="red"></p>
				<p id="success" class="green">All set! This page will redirect to the home page. Log in with your new password.</p>

		</div><!-- /#forgotFormContainer -->



		<footer>
			<div class="col-1">
				<nav>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Credits</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</nav>
			</div><!-- /.col-1 -->


			<div class="col-2">
				<img src="images/atom-logo.png" height="36" alt="yootunes logo"/>

				<p>&copy;2014 YooTunes.com. All rights reserved.</p>
			</div><!-- /.col-2 -->


			<div class="col-3">
				<ul>
					<li><a href="#"><img class="svg" src="images/icons/facebook.svg" alt="social icon"/></a></li>
					<li><a href="#"><img class="svg" src="images/icons/google.svg" alt="social icon"/></a></li>
					<li><a href="#"><img class="svg" src="images/icons/linkedin.svg" alt="social icon"/></a></li>
					<li><a href="#"><img class="svg" src="images/icons/twitter.svg" alt="social icon"/></a></li>
				</ul>
			</div><!-- /.col-3 -->
		</footer>


		</script>
</div>